@charset "ISO-8859-1";

.login-box {
	display: inline-block; 
	border: 1px solid #777777; 
	padding: 50px; 
	border-radius: 10px; 
	margin: 10px;
	text-align: left;
	max-width: 400px;
	box-shadow: 2px 2px 4px #BBBBBB;
}

.login-box label {
	padding-top: 5px;
}

.login-box input:not([type="checkbox"]) {
	width: 100%;
}

.login-box h5 {
	text-align: center;
	padding-bottom: 10px;
}

.login-box input[type=submit] {
	background-color: #3071A9;
	color: white;
	padding: 5px;
	border-style: none;
	border-radius: 3px;
	transition: 0.2s;
}

.login-box input[type=submit]:hover {
	background-color: #255885;
	transition: 0.2s;
}

.login-box input[type=text], input[type=password] {
	padding: 5px;
	border: 1px solid black;
	border-radius: 3px;
}

.login-box input[type=text]:focus, input[type=password]:focus {
	outline: none;
}

.login-box input[type=submit] {
	margin-top: 10px;
	margin-bottom: 10px;
}

.login-box hr {
	background-color: #AAAAAA;
}
#login-error-msg{
	color: red;
	text-align: right;
}

.register-link {
	text-align: center;
	text-decoration: none!important;
	color: black;
	display: block;
	background-color: #DDDDDD;
	padding: 5px;
	border: 1px solid #3071A9;
	border-radius: 3px;
	transition: 0.2s;
}

.register-link:hover {
	color: black;
	background-color: #CCCCCC;
	transition: 0.2s;
}