/* The styles for the tables */
table {
	border: 5px solid #3071A9;
	border-collapse: collapse;
	width: 50em;
    width:80%; 
    margin-left:10%; 
    margin-right:10%;
}

th, td {
	border: 1px solid black;
	text-align: left;
	padding: .5em;
}

input[type=text] {
	width: 25%;
}

td {
	width: 30%;
}

h3 {
	padding-left:10%;
	margin-bottom: .5em;
	margin-top: .5em;
}
