@charset "ISO-8859-1";

.main-header-div {
	background-color: #3071A9; 
	text-align: center; 
	padding: 10px; 
	border-top: 1px solid black; 
	border-bottom: 1px solid black;
}

.navbtn { 
	color: white; 
	text-shadow: 1px 1px 1px #555555;
	background-color: #e31936;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	transition: 0.2s;
	white-space: nowrap;
	display: inline-block;
	box-shadow: 2px 2px 3px #555555;
}

.navbtn:hover {
	text-decoration: none;
	color: white;
	background-color: #b5142b;
	transition: 0.2s;
}

.search-box {
	padding: 7px;
	margin-bottom: 7px; 
	border-radius: 5px;
	width: 70%;
	min-width: 200px;
}

.search-box:focus {
	outline: none;
}

.search-btn {
	color: white;
	background-color: #e31936;
	border: none;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #555555;
	text-shadow: 1px 1px 1px #555555;
	transition: 0.2s;
}

.search-btn:hover {
	text-decoration: none;
	color: white;
	background-color: #b5142b;
	transition: 0.2s;
}

.dropbtn {
  border: none;
  cursor: pointer;
  padding-left: 21px;
  padding-right: 21px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
/*   display: none; */
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
  display: block;
  text-align: left;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
	border-radius: 5px;
	text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-decoration: none;
  max-height: 400px;
}

.dropdown:hover .dropbtn {
  background-color: #b5142b;
  box-shadow: none;
}

.logout {
	text-decoration: none!important;
	color: white;
	text-shadow: 1px 1px 1px #555555;
	font-size: 13px;
}

.logout:hover {
	color: #e31936;
}