@charset "ISO-8859-1";

#signin-reg{
	position: left;
	right: 10%;
	color: white;
	padding: 10px;
	width: 300%;
	height: 20%;
	
}

#myaccount {
	float: right;
	color: white;
	padding: 10px;
	width: 80px; 
	height: 40px; 
	margin: 5px;
	
}
.homeNav{
	position: center;
	text-align: right;
	color: white;
	padding: 10px;
	
}

#home{
	float: left;
	left: 10%;
	color: white;
	padding: 5px;
	width: 100%;
	height:10%;
	margin: 1%;
}
#product{
	float: right;
	right: 50%;
	color: white;
	padding: 5px;
	width: 100%; 
	margin: 1%;
}
#searchButton{
	position: right;
	right: -5%;
	color: white;
	padding: 10px;
	height: 50%; 
}
#searchBar{
	position: right;
	right: -5%;
	color: white;
	padding: 10px;
	height: 50%; 
}
.btn-group{
	float: right;
	right: -40%;
	color: white;
	text-align: right;
	padding: 10px;
}

#cart {
	position: right;
	right: -10%;
	color: white;
	padding: 10px;
	width: 60%; 
	
}

/* #filter {
	position: absolute;
	right: 0px;
	width: 150px;
	padding: 10px;
} */

.item-card:hover {
	transform: scale(1.05);
	-webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.item {
	transition: -1s ease;
	cursor: pointer;
	margin: 40px;
}

.card{
	border-radius: 15px;
}

.card-img-top{
	border-radius: 15px 15px 0px 0px; 
}

.read-more {
	background-color: #3071A9;
	outline-color: #3071A9;
}

.read-more:hover {
	background-color: #245580;
}

.cartBtn {
	border-color: #3071A9;
	color: #3071A9;
	background-color: white;
}

.cartBtn:hover {
	background-color: #3071A9;
	color: white;
}

.wishlistBtn {
	border-color: #3071A9;
	color: #3071A9;
}

.wishlistBtn:hover {
	background-color: #3071A9;
	color: white;
}