@charset "ISO-8859-1";

.header-div-main {
	width: 100%;
	text-align: center;
	background-color: #FFFFFF;
	padding: 3px;
}

.header-div-sub {
	width: 80%;
	display: inline-block;
	text-align: left;
}

.header-div-logo a {
	text-decoration: none;
	color: #565656;
	font-size: 30px;
}

body {
	background-color: #D7CEC7;
	margin: 0px;
}

.body-div-main {
	width: 100%;
	text-align: center;
}

.div-login {
	max-width: 400px;
	text-align: left;
	display: inline-block;
	background-color: #FFFFFF;
	border: 3px double #76323F;
	padding: 10px;
	margin: 30px;
	font-family: Arial, Helvetica, sans-serif;
	box-shadow: 2px 2px #AAAAAA;
}

.div-login input {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.login-txt {
	padding: 3px;
}

.div-login span {
	color: #565656;
}

.login-header {
	text-align: center;
	color: #565656;
}

.login-btn {
	background-color: #C09F80;
	color: white;
	border: none;
	padding: 10px;
	font-size: 15px;
	transition: 0.3s;
	cursor: pointer;
}

.login-btn:hover {
	background-color: #947a62;
	transition: 0.3s;
}